<ion-item>
  <ion-label floating>First Name</ion-label>
  <ion-input type="text" [(ngModel)]="profile.firstName" ></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Last Name</ion-label>
  <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Date of Birth</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
</ion-item>

<button ion-button (click)="saveProfile()" >Save</button>