<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Games" tabIcon="keypad" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tickets" tabIcon="albums" tabsHideOnSubPages="true"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Account" tabIcon="contact" tabsHideOnSubPages="true"></ion-tab>
</ion-tabs>