<ion-header>
    <ion-navbar>
      <ion-title>Lottaria</ion-title>
      <ion-buttons end (click)="navigateToPage('GetCoinsPage')">
        <button ion-button icon-only >
          <span >{{ (coins | async)?.coins }}</span>
          <ion-icon name="logo-usd"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content class="card-background-page">

  <ion-card (click)="navigateToPage('Game1Page')">
    <img src="assets/img/lucky3card.svg" />
    <div class="card-subtitle">win up to x600!</div>
  </ion-card>

  <ion-card (click)="navigateToPage('Game2Page')">
    <div>GAME2</div>
  </ion-card>

  <!-- <button ion-button  (click)="ShowVideo()"  >hide banner</button> -->

</ion-content>