page-ticket-selection {

    .lucky3 {
      background-color: #606879;
      color: white;
    }

/*       ion-col{
        padding: 0;
      } */


      ion-grid {
        padding: 50;
      }
    
    

  .choice{
    padding: 0;
    margin: 0;
    line-height: 2;
    
  }

  ion-row{
    .selection{
    justify-content: center;
      text-align: center;
    }
   }
  
    .ball{
      width:100%;
  border-radius:50%;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: silver;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1,3em;
  }

.ball-selected{ width:100%;
  border-radius:50%;
 
  font-size: 48px;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #F0C141;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1.4em;
  }
 
  
  .ticket {
    background-color: white;
    color: black
  }
}



