<ion-header>
  <ion-navbar>
    <ion-title>Lottaria</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <span >{{ (coins | async)?.coins }}</span>
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="ticketType">
      <ion-segment-button value="pendingTickets">
        Pending
      </ion-segment-button>
      <ion-segment-button value="pastTickets">
        Past
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div [ngSwitch]="ticketType">

    <ion-list *ngSwitchCase="'pendingTickets'">
      <ion-item *ngFor="let pendingTicket of pendingTicketList | async">
        <ion-thumbnail item-start>
          <img *ngIf="pendingTicket.game == 'lucky3'" src="assets/img/lucky3logo.svg">
        </ion-thumbnail>
        <h2>{{pendingTicket.date | date }}</h2>
        <h2>{{pendingTicket.date | date:'jm' }}</h2>
        <span item-end *ngIf="pendingTicket.status == 'future'">{{pendingTicket.n1}} - {{pendingTicket.n2}} - {{pendingTicket.n3}} </span>

      </ion-item>
    </ion-list>


    <ion-list *ngSwitchCase="'pastTickets'">
      <ion-item (click)="navigateToDraw(ticket)" *ngFor="let ticket of pastTicketList | async">
        <ion-thumbnail item-start>
          <img *ngIf="ticket.game == 'lucky3'" src="assets/img/lucky3logo.svg">
        </ion-thumbnail>
        <h2>{{ticket.date | date }}</h2>
        <h2>{{ticket.date | date:'jm' }}</h2>
        <span item-end *ngIf="ticket.status == 'won'">+{{ticket.coinsWon}}<ion-icon name="logo-usd" item-end></ion-icon></span>
        <span item-end *ngIf="ticket.status == 'lost'">Not winning</span>

      </ion-item>
    </ion-list>

  </div>

</ion-content>