<ion-content (click)="dismiss()" padding>

 
<span class=title> Ticket submited! </span>

 <ion-grid fixed>
      <ion-row text-center class="choice">
        <ion-col col-1>
        </ion-col>
        <ion-col col-8>
          <ion-grid fixed>
            <ion-row text-center>
              <ion-col col-2>
                <div class="ball-selected">
                  {{n1}}
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  {{n2}}
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  {{n3}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <p class=draw> New draw every hour! </p>

<button ion-button> SHARE! </button>

</ion-content>