<ion-header>
  <ion-navbar>
    <ion-title>Get free coins!</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
          <span >{{ (coins | async)?.coins }}</span>
          <ion-icon name="logo-usd"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <span>{{hasVideo}}</span>
  <button ion-button (click)="showVideo()" >
    <span >watch a video </span>
  </button>


  <button ion-button>
    <span >invite friends </span>
  </button>

  <button ion-button>
    <span >survey </span>
  </button>
<button ion-button>
    <span >survey </span>
  </button>
 

</ion-content>
