<ion-header class="padding-bottom">
  <ion-navbar>
    <ion-title>Lucky3</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <span>134</span>
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div class="choice">
    <p class="choice"> Select 1 number per column.
      <ion-icon name="information-circle"></ion-icon>
    </p>
    <ion-grid fixed class="choice">
      <ion-row text-center class="choice">
        <ion-col col-1>
        </ion-col>

        <ion-col col-8>

          <ion-grid fixed>
            <ion-row text-center>
              <ion-col col-2> </ion-col>
              <ion-col col-2>
                <div class="ball-selected" *ngIf="n1display" >
                  {{n1}}
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected" *ngIf="n2display" >
                  {{n2}}
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected" *ngIf="n3display" >
                  {{n3}}
                </div>
              </ion-col>
              <ion-col col-2> </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="game">

    <ion-grid fixed>
      <ion-row text-center>

        <ion-col col-2>
        </ion-col>

        <ion-col col-6>
          <ion-grid fixed>
            <ion-row text-center>

              <ion-col col-3>
                <ion-grid>
                  <ion-row text-center>
                    <ion-col col-10 *ngFor="let number of numbers" (click)="selectn1(number)">
                      <div class="ball" [class.ball-selected]="n1 === number" >
                        {{number}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>

              <ion-col col-3>
                <ion-grid>
                  <ion-row text-center>
                    <ion-col col-10 *ngFor="let number of numbers" (click)="selectn2(number)">
                      <div class="ball" [class.ball-selected]="n2 === number">
                        {{number}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>

              <ion-col col-3>
                <ion-grid>
                  <ion-row text-center>
                    <ion-col col-10 *ngFor="let number of numbers" (click)="selectn3(number)">
                      <div class="ball" [class.ball-selected]="n3 === number">
                        {{number}}
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-col>


        <ion-col col-2>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="footer">
  <button ion-button full color="secondary" (click)="submit()">PLAY</button>
</ion-footer>