page-game1 {
    .card-background-page {
      background-color: #606879;
      text-align:center;

  ion-card {
    position: relative;
    text-align: center;
  }
  ion-navbar {
    margin-bottom: 10em;
  }

  .choice{
    background-color: white;
    padding: 0;
    margin: 0;
    line-height: 2;
    position:relative;
    text-align:center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  .game{
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  
    .ball{
      width:100%;
  border-radius:50%;
  text-align:center;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: silver;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1,3em;
  }
.ball-selected{ width:100%;
  border-radius:50%;
  text-align:center;
  font-size: 48px;
  padding:50% 0;
  line-height:0;
  position:relative;
  background: #F0C141;
  color: white;
  font-family: Helvetica, Arial Black, sans;
  font-size: 1.4em;
  }
  ion-row{
   justify-content: center;
     text-align: center;
  }
  .play{
       background-color: #F0C141;
       color: #F0C141;
  }
}
}
