<ion-header class="padding-bottom">
  <ion-navbar>
    <ion-title>5/35</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <span>134</span>
        <ion-icon name="logo-usd"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div class="choice">
   <p  class="choice"> Select 5 out of the 35 numbers.
    <ion-icon name="information-circle"></ion-icon>
   </p>
    <ion-grid fixed class="choice">
      <ion-row text-center class="choice">
        <ion-col col-1>
        </ion-col>

        <ion-col col-8>
          <ion-grid fixed>
            <ion-row text-center >
              <ion-col col-2>
                <div class="ball-selected">
                  4
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  13
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  18
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  26
                </div>
              </ion-col>
              <ion-col col-2>
                <div class="ball-selected">
                  35
                </div>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col col-1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


<div class="game">

  <ion-grid fixed>
    <ion-row text-center>
      <ion-col col-1>
      </ion-col>

      <ion-col col-8>
        <ion-grid fixed>
          <ion-row text-center>
            <ion-col col-2>
              <div clear class="ball">
                1
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                2
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                3
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball-selected">
                4
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                5
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                6
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                7
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                8
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                9
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                10
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                11
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                12
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball-selected">
                13
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                14
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                15
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                16
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                17
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball-selected">
                18
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                19
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                20
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                21
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                22
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                23
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                24
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                25
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball-selected">
                26
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                27
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                28
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                29
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                30
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                31
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                32
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                33
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball">
                34
              </div>
            </ion-col>
            <ion-col col-2>
              <div class="ball-selected">
                35
              </div>
            </ion-col>


          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col col-1>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
<ion-footer class="footer">
  <button ion-button full color="secondary">PLAY</button>
</ion-footer>