<ion-header>
  <ion-navbar>
    <ion-title>Lottaria</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <span >{{ (coins | async)?.coins }}</span>
          <ion-icon name="logo-usd"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <app-profile-view (existingProfile)="getExistingProfile($event)"></app-profile-view>



  <ion-list>
      <button ion-item (click)="navigateToPage('GetCoinsPage')">
          Get Free coins!
        </button>
    <button ion-item>
    Notifications
  </button>
    <button ion-item (click)="navigateToPage('ProductsPage')">
    Exchange your coins
  </button>
    <!--     <button ion-item>
    Settings
  </button> -->
    <button ion-item (click)="navigateToEditProfilePage()">
    Edit profile
  </button>
    <!--     <button ion-item>
    Invite code
  </button> -->

    <button ion-item>
    Help
  </button>
  <button ion-item (click)="signOut()">
    Logout
  </button>
  </ion-list>

</ion-content>