<ion-content (click)="dismiss()" padding>
    
     
    <span class=title> Exchange completed! </span>
    
    
    <span > You exchanged {{cost}} for a {{title}}</span>
    
    <button ion-button> SHARE! </button>
    
    </ion-content>